{% extends "shared/_layout.html" %}
{% block title %}Login{% endblock %}
{% block main_content %}
    <div class="main">

        <div class="form-wrapper">
            <form action="" method="POST">
                <h2>Login</h2>
                <input name="email" type="text" placeholder=" Your email address" class="form-control"
                       value="{{ email }}">
                <input name="password" type="password" placeholder=" Password" class="form-control"
                       value="{{ password }}">
                <button type="submit" class="btn btn-danger">Login</button>
                <div style="clear: both;"></div>

                <div class="error-msg">
                    {% if error %}
                        <div class="error-msg">{{ error }}</div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </form>
        </div>

    </div>
{% endblock %}